{%extends "registration/base.html"%}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h1 class="heading">THANK YOU FOR VISITING</h1>
           <a href="/accounts/login/"> <button class="login-btn">LOG BACK IN</button></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="logout-text">
                <!-- {% comment %} <p>Awards <br>Every great work deserves an award</p> {% endcomment %} -->
            </div>
        </div>
    </div>
</div>
<div class="container quote text-center">
    <p>"He turns not back who is bound to a star.."</p>
</div>
{% endblock %}









